<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/dashboard" class="brand-link">
    <img
      src="images/mobildinas1.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Mobil Dinas</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <% if(role === "user") {%>
        <li class="nav-item">
          <a href="/cars-usage" class="nav-link">
            <i class="nav-icon fas fa-clipboard"></i>
            <p>Penggunaan Mobil</p>
          </a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/cars" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>Mobil</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/drivers" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Pengemudi</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/organizations" class="nav-link">
            <i class="nav-icon fas fa-sitemap"></i>
            <p>Organisasi</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/cars-usage" class="nav-link">
            <i class="nav-icon fas fa-clipboard"></i>
            <p>Penggunaan Mobil</p>
          </a>
        </li>
        <li class="nav-header">Users</li>
        <li class="nav-item">
          <a href="/users" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>User</p>
          </a>
        </li>
        <li class="nav-header">Log</li>
        <li class="nav-item">
          <a href="/logs" class="nav-link">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>Logs</p>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
